<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FORM!!</title>
</head>
<body>
<form action="/class/" method="post">
    <label for="first_name">First Name</label><br/>
    <input type="text" name="first_name" id="first_name"/><br/>

    <label for="last_name">Last Name</label><br/>
    <input type="text" name="last_name" id="last_name"/><br/>

    <button type="submit">Submit!!</button>
</form>
</body>
</html>