<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Instance Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-info text-center">
                This is the Dynamic Page
            </h1>
            <hr/>
            <h2 class="text-center">And your dynamic content is:</h2> 
            <ul class="lead">
                <li>name: <%= @instance[:name] %></li>
                <li>class: <%= @instance[:class] %></li>
                <li>language: <%= @instance[:language] %></li>
                <li>but does he freelance? <%= @instance[:freelance] %></li>
            </ul>
        </div>
        <hr/>
        <p class="text-center text-muted">
            That's some serious stuff right there...
        </p>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>